<div class="scroll-animation">
  <div class="gallery-container">
    <div class="home-section home-section-1">
      <div class="gallery-item-media-gradient"></div>
      <div class="gallery-txt-container">
        <p class="gallery-text gt">Red dot Award-Winning Design</p>
        <p class="gallery-header gt">A touch of zen home décor wherever you need some gentle lighting.</p>
      </div>
    </div>
    <div class="home-section home-section-2">
      <div class="gallery-item-media-gradient"></div>
      <div class="gallery-txt-container">
        <p class="gallery-header gt">Fun Gift for Men and Women</p>
        <p class="gallery-text1 gt">If you’re looking for a unique gift for your loved one, Heng Balance Lamp is the perfect option. If your girlfriend is an art lover or if your dad hopes for a classy Father’s Day gift for the office, this lamp is sure to brighten anyone’s day.</p>
        <span class="gallery-anchor gt">Learn more</p>
      </div>
    </div>
    <div class="home-section home-section-3">
      <div class="gallery-item-media-gradient"></div>
      <div class="gallery-txt-container">
        <p class="gallery-header gt">Sophisticated Minimalist Lighting</p>
        <p class="gallery-text1 gt">Whether you place this small lamp in your home or on your work desk, this lighting adds a sophisticated and polished look to any space.</p>
        <span class="gallery-anchor gt">Learn more</p>
      </div>
    </div>

    <div class="home-section home-section-4">
      <div class="gallery-item-media-gradient"></div>
      <div class="gallery-c4-container">
        <img src="{{ 'gallery_c4_img1.jpg '| asset_url }}" class="gallery-c4-img" />
        <img src="{{ 'gallery_c4_img2.jpg' |asset_url}}" class="gallery-c4-img" />
        <img src="{{ 'gallery_c4_img3.jpg' |asset_url}}" class="gallery-c4-img" />
        <img src="{{ 'gallery_c4_img4.jpg' | asset_url }}" class="gallery-c4-img" />
        <img src="{{ 'gallery_c4_img5.jpg' | asset_url }}" class="gallery-c4-img" />
        <img src="{{ 'gallery_c4_img6.jpg' | asset_url }}" class="gallery-c4-img" />
        <img src="{{ 'gallery_c4_img7.jpg' | asset_url }}" class="gallery-c4-img" />
        <img src="{{ 'gallery_c4_img8.jpg' | asset_url }}" class="gallery-c4-img" />
      </div>
    </div>
  </div>
</div>