    <div class="sun-space">
    <div class="home-sun"></div>
    <div class="home-right-box"></div>
    
   <div class="home-container">
   
        <div class="home-item1 parallax" data-depth="0.3">
          {% if section.settings.title %}
          <h1 class="title1">{{ section.settings.title }}</h1>
          {% endif %}
             {% if section.settings.subtext_title %}
              
             <p class=" title2-text">
                 {{ section.settings.subtext_title }} </p>
                
             {% endif %} 
                
             {% if section.settings.price %}
             <p class="title3-price">{{ section.settings.price | money  }}</p>
 
             {% endif %}
              
                                 <div class="reserve-item">
                       <button class="reserve-btn">Reserve now</button>
                   </div>
          </div>
          <div class="home-img1-item parallax" data-depth="0.1">
            <img src={{ "zan-design-img.png" | asset_url }}  class="home-img1"/>
            <img src={{"heng_shadow.svg" | asset_url}} class="home-img2"/>
          </div>
      </div>
      <div class="life-time-wrapper">
          <p class="power-text1">20000 Hour for its Lifetime</p>
          <h2 class="power-text2">Powered by the Sun</h2>
          <p  class="power-text3">The Heng Balance Lamp is the traditional lamp next door with an unconventional twist that makes it the lamp like no other, ergo it will light up your room like none of the other lamps can.</p>
          <p  class="power-text4">Works on the principle of magnetic equilibrium</p>
          <div class="reserve-btn1-container">
          <button class="reserve-btn1">Reserve now</button>
          </div>
       </div>
       </div>
  </div>
         
 {% schema %}
  {
    "name":"Hero Section Texts",
    
      "settings": [
      {
        "type":"text",
        "id":"title",
        "default":"Lybra Balance",
        "label": "Hero section heading"
      },
      {
        "type":"text",
        "id":"subtext_title",
        "default": "This beautiful USB powered lamp designed    with a unique magnetic sphere switch. Use it as a calming night light for kids or adults!",
        "label": "Hero section subheading"
      },
      {
        "type": "text",
        "id":"price",
        "default":"29000",
        "label": "hero-section-product-price"
      }
    ]   
  }
 {% endschema %}