<div class="sun-space">
    <!-- Home Start-->
    <div class="main">
      <div>
      <div class="home-container">
          <div class="home-item1 parallax" data-depth="0.3">
          <h1 class="title1">Lybra Balance </h1>
          <p class=" title2-text">This beautiful USB powered lamp designed with a unique magnetic sphere switch. Use it as a calming night light for kids or adults!</p>
          <p class="title3-price">29.900€</p>
          <div class="reserve-item">
              <button class="reserve-btn">Reserve now</button>
          </div>
          </div>
          <div class="home-img1-item parallax" data-depth="0.1">
            <img src={{ "zan-design-img.png" |asset_url }}  | asset_img_url class="home-img1"/>
            <img src={{ "heng_shadow.svg" | asset_img_url }} class="home-img2"/>
          </div>
      </div>
      <div class="life-time-wrapper">
          <p class="power-text1">20000 Hour for its Lifetime</p>
          <h2 class="power-text2">Powered by the Sun</h2>
          <p  class="power-text3">The Heng Balance Lamp is the traditional lamp next door with an unconventional twist that makes it the lamp like no other, ergo it will light up your room like none of the other lamps can.</p>
          <p  class="power-text4">Works on the principle of magnetic equilibrium</p>
          <div>
          <button class="reserve-btn1">Reserve now</button>
          </div>
       </div>
       </div>
      </div>
       <div class="zan-design-video">
       <div class="z-d-video">
       <video autoPlay loop style="background-image:'home_video_back.png'; height: 100%; width: 100%; object-fit: fill; border-radius: 10px" muted playsInline data-wf-ignore="true" data-object-fit="fill">
          <source src={{ "./videos/zan-design-videos.mp4" }}  data-wf-ignore="true"/>
       </video>
       <a href="https://youtu.be/z3wJi9wBlf8" target="_blank" class="play-button ">
          <div class="play-icon ">
          <svg xmlns="http://www.w3.org/2000/svg" width="10px" height="10px" viewBox="0 0 13 16">
            <path fill="currentColor" fill-rule="evenodd" d="M12.46 9.3L1.88 15.83A1.23 1.23 0 010 14.78V1.22A1.23 1.23 0 011.91.19L12.5 7.23a1.23 1.23 0 01-.04 2.07z"></path>
          </svg>
          </div>
        </a>
       </div>
       <div class="z-d-txt">
        <p class="zan-design-text">If you want to add some ambient lighting to your room, this lamp is a must.</p>
        <p class="home-video-txt">See it in action <img src={{ "video-arrow.svg" | asset_url }}/></p>
       </div>
       </div>

       <div class="section2">
        <div class="animation-wrapper">
          <div class="animation-content">
            <!-- block1 -->
            <div class="hoverpen1">
              <div class="animation-block">
                <div class="top-wrapper">
                  <h1 class="number">01</h1>
                  <img src={{ "heng-balance-lamp.png" }}  class="image">
                  <div class="title-group">
                    <h1 class="title">Heng Balance Lamp</h1>
                    <h2 class="sub-title">
                      The memory stays with you so <br/>much as its light shines on <br/>you...
                    </h2>
                    <div class="description-wrapper">
                      <p class="description">
                        When it balances, it looks like a sculpture radiating spiritual light that brightens up your mood; when it spins, it produces a marvellous optical illusion that puts your mind at ease. You are bound to get showered with compliments whenever a friend comes to visit.
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
      
            <!-- block2 -->
            <div class="hoverpen2">
              <div class="animation-block">
                <div class="top-wrapper">
                  <h1 class="number">02</h1>
                  <img
                    src={{ "heng-pro-lamp1.png" }}
                    width="678"
                    alt=""
                    class="image"
                  >
                  <div class="title-group">
                    <h1 class="title">Heng Pro Lamp</h1>
                    <h2 class="sub-title">
                      HOW TO BE A BETTER <br/>GIFT-GIVER
                    </h2>
                    <div class="description-wrapper">
                      <p class="description">
                        Tuesday’s convergent exercises focus on a solution for the challenge. In the morning, you’ll run through a set of <strong>voting </strong>exercises on Monday’s sketches and <strong>present</strong> the most popular before making a selection. In the afternoon, you’ll define a <strong>test flow </strong>and create a <strong>storyboard </strong>that details how users will move through your solution.<br>
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!-- blcok3 -->
            <div class="hoverpen3">
              <div class="animation-block">
                <div class="top-wrapper">
                  <h1 class="number">03</h1>
                  <img
                    src={{ "zan-design-img.png" |asset_url}}
                    width="350"
                    alt=""
                    class="image"
                  >
                  <div class="title-group">
                    <h1 class="title">Lybra Balance Lamp</h1>
                    <h2 class="sub-title">
                      The solution visualised as an<br/> interactive prototype.
                    </h2>
                    <div class="description-wrapper">
                      <p class="description">
                        Wednesday’s tasks see our hard work from the previous days come to life. We’ll put our heads down and
                        rapidly <strong>prototype</strong> the agreed upon storyboards, developing them as a clickable mockup
                        showcasing <strong>user interface</strong>, <strong>interactions,</strong> and the end-to-end<strong>
                          user flow </strong
                        >of the solution - ready for testing<strong>.</strong><br>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div></div>
        </div>
      </div>
       <div class="pro-lamp-wrapper">
            <img src={{ "heng-pro-lamp.png" |asset_url }}  class="heng-pro-img"/>
            <button  class="explore1 explore-btn">EXPLORE</button>
          <button class="explore2 explore-btn">EXPLORE</button>
           <button class="explore3 explore-btn">EXPLORE</button>
         </div>
         <!-- Gallery section start-->
      <div class="scroll-animation">
        <div class="gallery-container">
          <div class="home-section home-section-1">
            <div class="gallery-item-media-gradient"></div>
            <div class="gallery-txt-container">
            <p class="gallery-text gt">Red dot Award-Winning Design</p>
            <p class="gallery-header gt">A touch of zen home décor wherever you need some gentle lighting.</p>
          </div>
          </div>
          <div class="home-section home-section-2">
            <div class="gallery-item-media-gradient"></div>
            <div class="gallery-txt-container">
              <p class="gallery-header gt">Fun Gift for Men and Women</p>
              <p class="gallery-text1 gt">If you’re looking for a unique gift for your loved one, Heng Balance Lamp is the perfect option. If your girlfriend is an art lover or if your dad hopes for a classy Father’s Day gift for the office, this lamp is sure to brighten anyone’s day.</p>
              <span class="gallery-anchor gt">Learn more</p>
            </div>
          </div>
          <div class="home-section home-section-3">
            <div class="gallery-item-media-gradient"></div>
            <div class="gallery-txt-container">
              <p class="gallery-header gt">Sophisticated Minimalist Lighting</p>
              <p class="gallery-text1 gt">Whether you place this small lamp in your home or on your work desk, this lighting adds a sophisticated and polished look to any space.</p>
              <span class="gallery-anchor gt">Learn more</p>
            </div>
          </div>
          <div class="home-section home-section-4">
            <div class="gallery-item-media-gradient"></div>
            <div class="gallery-c4-container">
              <img src={{ "gallery_c4_img1.jpg" |asset_url }}class="gallery-c4-img"/>
              <img src={{ "gallery_c4_img2.jpg"  | asset_url}} class="gallery-c4-img"/>
              <img src={{ "gallery_c4_img3.jpg"  | asset_url}} class="gallery-c4-img"/>
              <img src={{ "gallery_c4_img4.jpg"  | asset_url}} class="gallery-c4-img"/>
              <img src={{ "gallery_c4_img5.jpg"  | asset_url}} class="gallery-c4-img"/>
              <img src={{ "gallery_c4_img6.jpg"  | asset_url}} class="gallery-c4-img"/>
              <img src={{ "gallery_c4_img7.jpg"  | asset_url}} class="gallery-c4-img"/>
              <img src={{ "gallery_c4_img8.jpg"  | asset_url}} class="gallery-c4-img"/>
            </div>
          </div>
        </div>
      </div>
      <!-- Gallery section end-->
       <div class="line-of-products">
        <p class="heading-detail-small">LINE OF PRODUCTS</p>
        <h3 class="h3-heading">Our Plethora of Product<br/>Just for YOU</h3>
        <div class="line-of-products-img" id="home-line-pdts">
          <!-- pdts added in script -->
        </div>
       </div>
      </div>
    <!--Home End-->
  